<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <title>Editar Comprador</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="container my-4">

    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4 bg-light">
            <h2 class="text-center mb-5">Editar Comprador</h2>

            <form th:action="@{/compradores/editar(id=${id})}" method="POST" th:object="${compradorDTO}">

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Nome</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${compradorDTO.nome}">
                        <p th:if="${#fields.hasErrors('nome')}"
                           th:errorclass="text-danger"
                           th:errors="${compradorDTO.nome}"></p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">CPF</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="cpf" th:field="${compradorDTO.cpf}">
                        <p th:if="${#fields.hasErrors('cpf')}"
                           th:errorclass="text-danger"
                           th:errors="${compradorDTO.cpf}"></p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Telefone</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="telefone" type="text" th:field="${compradorDTO.telefone}">
                        <p th:if="${#fields.hasErrors('telefone')}"
                           th:errorclass="text-danger"
                           th:errors="${compradorDTO.telefone}"></p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Associado CESPOL</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                               value="true" th:field="${compradorDTO.associado_cespol}">
                        <label class="form-check-label" for="inlineRadio1">Sim</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                               value="false" th:field="${compradorDTO.associado_cespol}">
                        <label class="form-check-label" for="inlineRadio2">Não</label>
                    </div>
                    <p th:if="${#fields.hasErrors('associado_cespol')}"
                       th:errorclass="text-danger"
                       th:errors="${compradorDTO.associado_cespol}"></p>
                </div>

                <div class="row">
                    <div class="offset-sm-4 col-sm-4 d-grid">
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                    <div class="col-sm-4 d-grid">
                        <a class="btn btn-outline-primary" href="/compradores/listar">Cancelar</a>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>

<script src="https://unpkg.com/imask"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
